# The InterPlanetary File System (IPFS) https://docs.ipfs.tech/
VITE_IPFS_API_KEY=YOUR_VALUE_HERE

# Alchemy - service for retrieving blockchain data https://auth.alchemy.com/
VITE_ALCHEMY_KEY_POLYGON_MUMBAI=YOUR_VALUE_HERE
VITE_ALCHEMY_KEY_POLYGON_MAINNET=YOUR_VALUE_HERE
VITE_ALCHEMY_KEY_MAINNET=YOUR_VALUE_HERE
VITE_ALCHEMY_KEY_GOERLI=YOUR_VALUE_HERE

# Etherscan - ethereum blockchain explorer https://docs.etherscan.io/getting-started/viewing-api-usage-statistics
VITE_ETHERSCAN_API_KEY=YOUR_VALUE_HERE

# Polygonscan - polygon blockchain explorer https://docs.polygonscan.com/getting-started/viewing-api-usage-statistics
VITE_POLYGONSCAN_API_KEY=YOUR_VALUE_HERE

# # Aragon gateway API key used for the RPC service
VITE_GATEWAY_RPC_API_KEY=YOUR_VALUE_HERE

# WalletConnect - connection layer between DApp and user crypto wallet https://cloud.walletconnect.com/sign-in
VITE_WALLET_CONNECT_PROJECT_ID=YOUR_VALUE_HERE

# Covalent - unified API bringing visibility to billions of Web3 data points https://www.covalenthq.com/platform/auth/login/
VITE_COVALENT_API_KEY=YOUR_VALUE_HERE
